#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.button {
  background-color: #f9f9f9;
  margin: 1rem;
}

.button:hover{
  background-color: #dbdbdb;
}

.input {
  border: none;
  box-shadow: 0.1rem 0.1rem 0.3rem #cdcdcd8e;

}

.input:hover {
  background-color: #e6e6e6;
}
