body {
    background: linear-gradient(to bottom, #9b9bff, #ffbfbf);
    color: #fff;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.game-detail {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0.5rem;
    padding: 2rem;
    max-width: 60rem;
    width: 90%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    margin: 2rem auto;
}

.game-detail h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    color: #008c6e;
    text-align: center;
}

.information {
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

.information p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.platforms__prices {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.platforms__item {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    text-align: center;
    line-height: 1.5;
}

.platforms__item:hover {
    transform: translateY(-0.3rem);
}

.platforms__item p {
    font-size: 1rem;
    color: #fff;
    margin: 0.5rem 0;
}

.platforms__item p strong {
    color: #008c6e;
    font-weight: bold;
    font-size: 1.1rem;
}

.platforms__item .delete {
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.7);
}

.subscribe__button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: rgba(200, 200, 255, 0.4);
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.subscribe__button:hover {
    background-color: rgba(100, 100, 255, 0.9); 
    color: #fff; 
    border: 0.2rem solid rgba(255, 255, 255, 0.7); 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); 
    transform: scale(1.05); 
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}


.subscribe__button:focus {
    outline: none;
    background-color: rgba(200, 200, 255, 0.9);
}
