body {
    background: linear-gradient(to bottom, #9b9bff, #ffbfbf);
    color: #fff; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}


.login {
    background-color: rgba(0, 0, 0, 0.324); 
    padding: 2rem;
    border-radius: 0.5rem;
    width: 80%;
    max-width: 30rem;
    text-align: center;
    margin: 1rem auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.login__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.login__username {
    padding: 0.5rem;
    font-size: 1rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.5); 
    border-radius: 0.3rem;
    background-color: rgba(255, 255, 255, 0.1); 
    color: #fff; 
    outline: none;
    width: 90%;
    max-width: 20rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.login__username::placeholder {
    color: rgba(255, 255, 255, 0.7); 
}


.login__button {
    padding: 0.75rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: rgba(200, 200, 255, 0.4);
    border: 0.1rem solid rgba(255, 255, 255, 0.5);
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 90%;
    max-width: 20rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.login__button:hover {
    background-color: rgba(200, 200, 255, 0.7);
}


h1, p {
    color: #fff; 
    margin: 0.5rem 0;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.1rem;
}


button.login__button:focus {
    outline: none;
    background-color: rgba(200, 200, 255, 0.9);
}
